html, body {  
  height: 100%;
}

.main {  
  height: 75%;  
  margin-top: -11%;
 
}

.main-container {  
  height: 100%;
  margin-bottom: 10px;
}


.header-background {  
  height: 20%;
}
.personal_info{
	padding: 5rem;
	height: 50%;
}

.social-contact{
	font-size: 30px ;
}

.fab {  
  position: fixed;  
  right: 1rem;  
  bottom: 1rem;
}

@media only screen and (min-width: 601px) {
  .fab { right: 1rem; top: 30%; }
}

@media only screen and (min-width: 993px) {
  .fab { right: 3rem; top: 30%; }
}